/* colours */

:root{

    --primary: #000000; /* #312A2A; */
    --primary-rgb: 0, 0, 0;
    --primary-1: #312A2A;

    --secondary: #ffff00;
    --secondary-rgb: 60, 100, 100;

    --black: #111111;
    --black-rgb: 17, 17, 17;

    --white: #f1f1f1;
    --white-rgb: 241, 241, 241;
    --not-white: #f3f4f7;

    /* Shadows */
    --shadow-sm: 0px 6px 3px rgba(var(--black-rgb), 0.01),
        0px 4px 2px rgba(var(--black-rgb), 0.01), 0px 2px 2px rgba(var(--black-rgb), 0.02),
        0px 0px 1px rgba(var(--black-rgb), 0.03);
    --shadow-md: 0px 28px 11px rgba(var(--black-rgb), 0.01),
        0px 16px 10px rgba(var(--black-rgb), 0.03), 0px 7px 7px rgba(var(--black-rgb), 0.05),
        0px 2px 4px rgba(var(--black-rgb), 0.06);
    --shadow-lg: 0px 62px 25px rgba(var(--black-rgb), 0.01),
        0px 35px 21px rgba(var(--black-rgb), 0.05), 0px 16px 16px rgba(var(--black-rgb), 0.1),
        0px 4px 9px rgba(var(--black-rgb), 0.12);
}


.white {
    color: var(--white);
}
.white_bg {
    background-color: var(--white);
}   
.black_bg {
    background-color: var(--black);
    color: var(--white);
}
.primary_bg {
    background-color: var(--primary);
}
.secondary_bg {
    background-color: var(--secondary);
}
.primary {
    color: var(--primary);
}
.secondary {
    color: var(--secondary);
}
.black {
    color: var(--black);
}
.white {
    color: var(--white);
}
