/* navigation.css */

header,
header.startHeader {
    height: var(--header-height);
    /* margin-bottom: 20px; */
    /* padding: 1rem 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    z-index: 2222;
    transition: var(--transition);
    font-family: var(--menu-font-family);
    background-color: #000000;
    /* border-bottom: 1px solid #e7e7e7; */
    z-index: 9999;
}

header.is-scrolled, 
header.endHeader {
    background-color: var(--white);
    box-shadow: 0 0 10px var(--grey);
    transition: var(--transition);
    padding: 10px var(--gap);
    height: 70px;
}


/* nav */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    padding: 10px 0;    
    position: relative;
}

nav .wrapper {
    position: relative;
    /* max-width: 1300px; */
    width: calc(var(--max-col-width) - var(--gutter));
    padding: 0px 0px;
    /* height: 70px;
    line-height: 70px; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-large);
}
/* logo */

.site-link,
.site-logo-link {
    color: var(--white);
    text-decoration: none;
    transition: var(--transition);
    /* position: relative; */
}
.site-logo-link {
    position: absolute;
    /* left: var(--gap-large); */
    left: 0;
}

.site-title h1 {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: var(--white);
    text-decoration: none;
    margin: 0;
    transition: var(--transition);
    position: relative;
    cursor: pointer;
}
.site-title:hover h1 {
    color: var(--default);
}

.active .site-title h1 {
    color: var(--white);
    position: absolute;
    transform: translateY(-50%);
    z-index: 1111;
}

.logo {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    width: 132px;
    height: 36px;
    /* transform: translate(-50%, -50%); */
    transition: var(--transition);
    -o-object-fit: contain;
       object-fit: contain;
    z-index: 1001;
    transform-origin: 50% 50%;

}
.logo path.cross,
.logo-lockup path.cross {
    fill: var(--default);
    transition: var(--transition);
}


.is-scrolled .logo {
    /* opacity: 0; */
    transform: scale(0.65) translate(-70%, -70%);
    transition: var(--transition); 
}

.logo svg {
    transform-origin: 50% 50%;
    transition: var(--transition);
}
@media screen and (max-width: 1200px) {
    .logo svg {
        width:120px;
    }
}

.logo:hover svg {
    transform: scale(0.9) /*translate(-50%, -50%)*/;
}



@media screen and (max-width: 480px) {
    .site-title h1 {
        opacity: 0;
        transition: var(--transition);
    } 
    .is-scrolled .site-title h1 {
        opacity: 1;
        transition: var(--transition);
    }  
    .logo {
        opacity: 1;
        left: 60px;
        transition: var(--transition);
    }
    .is-scrolled .logo {
        opacity: 0;
        transition: var(--transition);
    }
}

.active .logo .cross {
    fill: white;
}
.active .logo-lockup .cross {
    fill: white;
}

.desktop-menu, .mobile-menu  {display: none;}

