/* specific */


.shout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2222;
}

/* animate on scroll */
body {
    height: 350vh;
}
@media screen and (max-width: 880px) {
    body {
        height: 300vh;
    }
}
body.before-load {
    overflow-y: hidden;
}
.view-wrap {
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100%;
    height: 100%;
}
.view-wrap .view-canvas {
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    /* z-index: 1111; */
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 100vw;
    height: 100vh; */
    /* max-width: 100vw;
    max-height: 100vh; */
    min-width: 100vw;
    min-height: 100vh;
  }

  .view-wrap::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3333;
  }

  .content-wrap {
    position: relative;
    z-index: 4444;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 25vh;
    margin-top: 35vh;
  }

  @media screen and (max-width: 880px) {
    .content-wrap {
        gap: 15vh;
    }
    
  }

  .svg_wrap {}
  
  .h2_wrap h2 {
    line-height: 0.6;
    margin-bottom: 0;
  }

  /* animate */

.hidden, 
.animate {
    opacity:0;
    /* filter:blur(50px); */
    transform: translateY(20%) scale(0.8,0.8);
    transition: all 250ms linear;
    display: block;
}

.show {
    opacity:1;
    /* filter:blur(0); */
    transform: translateX(0) scale(1,1);

}

.logo_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-bottom: 2rem;
}

.logo_wrap a {
    cursor: pointer;
    transform: scale(1);
    transform-origin: center;
    transition: var(--transition);
} 

.logo_wrap a:hover {
  transform: scale(1.05);
} 


.partner_logo {
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 150px;
}

/* -------------------------------- */

/* 
.fade-in {
    animation: fade-in 2s ease;
    animation-play-state: paused;
  }
  
  .fade-in-up {
    animation: fade-in-up 2s ease;
    animation-play-state: paused;
  }
  
  .fade-in-left {
    animation: fade-in-left 2s ease;
    animation-play-state: paused;
  }
  
  .fade-in-right {
    animation: fade-in-right 2s ease;
    animation-play-state: paused;
  }
  
  .animated {
    animation-play-state: running;
  } */
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-in-up {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

/* -------------------------------- */


#bm {
    /* width: 100%;
    height: 100%; */
    width: 25vw;
    margin-bottom: 40vh;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    #bm {
        width: 75vw;
    }
}

#bm svg:first-of-type {
  display: none;
}

/* -------------------------------- */


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  /* transform: translate(-50%, 0); */
  z-index: 5555;
  padding: 0.5rem 1rem ;
  display: flex;
  justify-content: center;
}


footer p {
  font-size: 0.8rem;
  opacity: 0.5;
  text-align: center;
}
