/* typography.css */


:root {
    --base-font-family: 'Inter', 'Futura', Arial, sans-serif;
    --heading-font-family: 'Inter', 'Futura', Arial, sans-serif;
    --font-awesome: 'FontAwesome';

    --base-line-height: 1.7;
    --base-font-percent: 62.5%;
    --base-font-size: 16px, 1rem;

    --base-font-weight: 400;
    --form-font-weight: 400;
    --button-font-weight: 400;
    --heading-font-weight: 700;
    --link-font-weight: 700;

    --thin-font-weight: 300;
    --light-font-weight: 300;
    --reg-font-weight: 400;
    --med-font-weight: 500;
    --demi-font-weight: 600;
    --heavy-font-weight: 700;
    --extrabold-font-weight: 800;

    /* size */
    --font-size-base: 1rem;
    --font-size-xs: 0.6rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.4rem;
    --font-size-lg-x: clamp(1.125rem, 1.0414rem + 0.3822vw, 1.5rem);
    --font-size-xl: 2.2rem;
    --font-size-xxl: 2.4rem;
    --font-size-xxxl: clamp(1.5rem, 0.2308rem + 2.3077vw, 3rem);
    --font-size-sxl: clamp(1.5rem, 0.2308rem + 2.3077vw, 3rem);

    --font-size-h1: clamp(3rem, 0.0268rem + 4.4048vw, 5.3125rem);
    --font-size-h2: clamp(4rem, 2.714rem + 1.905vw, 5rem);
    --font-size-h3: clamp(2rem, 1.458rem + 1.389vw, 2.3077vw);
    --font-size-h3-sm: clamp(2rem, 1.458rem + 1.389vw, 2.3077vw);
    --font-size-h4: 20px;
    --font-size-h5: 14px;
    --font-size-h6: 12px;

    --intro-size: clamp(1.125rem, 0.9857rem + 0.6369vw, 1.75rem);

}
 
/* MOBILE */

@media screen and (max-width: 880px) {
    :root {
        
        --base-font-size: 1.25rem;
        --font-size-base: 1.25rem;
        --font-size-sm: 1rem;

        --font-size-huge-sub: 50px;
        --font-size-h2: clamp(2.5rem, 1.868rem + 3.158vw, 4rem); 
        --font-size-h3: 36px;
        --font-size-h4-bold: 16.5px;
        --font-size-h4-demibold: 16.5px;
        --font-size-h4: 16.5px;
        --font-size-h4-enquiry: 22px;
        --font-size-h5: 14px;
        --font-size-h6: 12px;

        --intro-size: clamp(1.125rem, 0.9857rem + 0.6369vw, 1.75rem);

    }
}

/* STYLES */

* {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    letter-spacing: var(--letterspacing-base);
}

::-moz-selection { /* Code for Firefox */
    color: var(--white);
    background: var(--secondary);
  }
  
::selection {
    color: var(--white);
    background: var(--secondary);
}

h1, h2, h3, h4, h5, h6, p, blockquote {
    max-width: 75ch;
}

button, 
[class*="button"] { 
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

html {font-size: 100%;} /* 16px */

body {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    line-height: var(--base-line-height);
	font-style: normal;
    color: var(--secondary);
}

.normal { font-size: var(--font-size-base); }
.micro { font-size: var(--font-size-xs); }
.small, small { font-size: var(--font-size-sm); }
.medium { font-size: var(--font-size-md); }
.large { font-size: var(--font-size-lg) ; }
.xlarge { font-size: var(--font-size-xl) ; }

[class*="_light"] { font-weight: var(--light-font-weight);}
[class*="_reg"] { font-weight: var( --reg-font-weight);}
[class*="_med"] { font-weight: var(--med-font-weight);}
[class*="_demi"] { font-weight: var(--demi-font-weight);}
[class*="_bold"] { font-weight: var(--bold-font-weight);}
[class*="_extra"] { font-weight: var(--extra-font-weight);}
[class*="_black"] { font-weight: var(--black-font-weight);}

.scaling_text {
    font-size: max(1rem,min(.38835vw + .908981rem,1.375rem));
}



/* links */

.link {
    text-decoration: none;
    transition: var(--transition);
}

.link:hover {
    text-decoration: none;
}

a {
    color: var(--primary);
    font-weight: var(--link-font-weight);
    /* text-underline-offset: 3px;
    text-decoration-thickness: 1px; */
}
.content a {
    color: var(--primary);
    font-weight: var(--link-font-weight);
    text-decoration: none;
    text-underline-offset: none;
    text-decoration-color: var(--tertiary);
    transition: var(--transition);
}
.content a:hover {
    color: var(--primary);
    text-decoration: underline;
    text-underline-offset: 0.2em;
    text-decoration-color: var(--primary);
}

/* headings */

h1, h2, h3 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-weight: var(--heading-font-weight);
    line-height: 1.2;
    margin: 0 0 0.75rem 0;
    /* fix for webkit rendering */
    /* https://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/ */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto; */
}
h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}
h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: 500;
    font-weight: var(--base-font-weight); 
    /* letter-spacing: var(--letterspacing-sm-heading); */
    line-height: 1.2;
    margin: 0 0 0.5rem 0;
}

sup {
    vertical-align: super;
    font-size: x-small;
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 0.95;
    margin: 0 0 1rem 0;
}

h2 {
    font-size: var(--font-size-h2);
    line-height: 1.1;
    margin: 0 0 1rem 0;
}

h3 {
    font-size: var(--font-size-h3);
    line-height: 1.1;
    margin: 0 0 1rem 0;
}

h4 {
    font-size: var(--font-size-h4);
    line-height: 1.1;
    margin: 0 0 1rem 0;
}

h5 {
    font-size: var(--font-size-h5);
    line-height: 1.1;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}