/* variables.css */

:root {
    /* page */
    --page-variable: var(--default);
    /* colours */
    
    /* spacing */
    --gutter: 5vw /*6rem*/;
    --gap-sm: 1rem;
    --gap: 2rem;
    --gap-large: 4rem;

    /* sizes */
    --max-width: 100vw;
    --max-col-width: calc(100vw - (var(--gutter) * 2));
    --header-height: 62px;
    --logo-width: 170px;
    --logo-height: 56px;
    --nav-width: 615px;
    --nav-seconday-width: 100px;
    --hero-height: calc(100vh - var(--header-height));
    --nav-width: 100%;

    /* animation */
    --transition: all 250ms ease-in-out;
}

@media screen and (max-width: 1080px){
    :root {
        --header-height: 52px;
        --logo-width: 132px;
        --logo-height: 36px;
        --nav-width: 100%;
    }
    
}

@media screen and (max-width: 1080px){
    :root {
        --gutter: 2rem;
        --gap-sm: 0.5rem;
        --gap: 1rem;
    }
}
